
SolcomAttendance/.vs/SolcomAttendance/DesignTimeBuild/.dtbcache
SolcomAttendance/.vs/SolcomAttendance/v16/Server/sqlite3/storage.ide
SolcomAttendance/.vs/SolcomAttendance/v16/Server/sqlite3/storage.ide-wal
SolcomAttendance/.vs/SolcomAttendance/v16/Server/sqlite3/storage.ide-shm
